*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3E3D49;
  height: 200%;
}

.titel{
    width: 100%;
    height: 100px;
    background: #3E3D49;
}
.logo{
    height: 100px;
}

main{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background: #3E3D49;
    

}
.uitleg{
    position: relative;
    background: #D1D3E0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

}

.uitlegtitle{
    position: absolute;
    top: 0;
    font-size: 45px;
} 

.uitlegtext{
   font-size: 25px;
}

.test{
    padding: 20px;
    object-fit: contain;
}
