*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background: #3E3D49;
}

main{
    height: auto;
    width: 100%;
    background: #454452;
    padding: 3rem;
}



/* || Header */

header{
    background: #272635;
    color: rgb(255, 255, 255);
    height: 120px;
}

.logo{
    float: left;
    margin: 10px;
    height: 100px;
    width: 100px;
}

li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li > a{
    color: white;
    text-decoration:none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

li:hover{
    cursor: pointer;
    
}

/* … */










/* Sectie 1 */

#section1{
    width: 100%;
    height: 407px;
    display: flex;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
}

#img2{
    height: auto;
    width: 100%;
}

.image1{
    height: 100%;
    width: auto;
}

h1{
    font-size: 250%;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.informatie{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 33px;
}

/* … */







/* sectie 2 */

#section2{
    width: 100%;
    height: auto;
    display: flex;
}

#colom1{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    padding: 2rem;
}

#colom2{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    padding: 2rem;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

#colom3{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    padding: 2rem;
    justify-content: right;
}

#image2{
    width: 100%;
    height: 100%;
}

h2{
    font-size: 200%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.info{
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 40px;
    font-size: 24px;
}

/* … */




/* Parallax base styles
  --------------------------------------------- */

  main, footer{
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    flex-direction: column;
    background: #D1D3E0;
    padding: 2rem;
  }

  .titles {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background-image: url(https://thereader.mitpress.mit.edu/wp-content/uploads/2020/11/pacman-lead-graphic-700x420.jpg);
    background-size: cover;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background-image: url(https://as1.ftcdn.net/v2/jpg/03/06/59/52/1000_F_306595210_sTtKiI1G7Ulo8q3OfAXpKvMrDXOEb8eJ.jpg);
    background-size: cover;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background-image: url(https://www.siliconindia.com/news/newsimages/special/y7xs21Jh.jpeg);
    background-size: cover;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background-image: url(https://www.svg.com/img/gallery/sonic-the-hedgehogs-first-home-console-appearance-you-probably-missed-upgrade/a-new-mascot-awaits-1512057692.jpg);
    background-size: cover;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background-image: url(https://i.pinimg.com/564x/9b/bc/90/9bbc902053250e7a86d17902ba65ab4e.jpg);
    background-size: cover;
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background-image: url(https://i0.wp.com/tiredoldhack.com/wp-content/uploads/2018/05/01-sf1.png?ssl=1);
    background-size: cover;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background-image: url(https://cdn.pastemagazine.com/www/articles/2021/05/26/1981_games.jpg);
    background-size: cover;
  }










/* footer */

footer{
    background: #272635;
    color: rgb(255, 255, 255);
    height: 720px;
    display:flex;
    align-items: center;
}

/* … */







/* grote */

@media screen and (max-width:1920px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:1000px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:600px) {
    body{
        font-size: 16px;
    } 
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }

}

/* … */










/* Game */

#game{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 82, 104);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid black;
    width: 100%;
    margin-top: 3rem;
    height: 50%;
}

.score{
    font-size: 4em;
    margin-bottom: .5em;
}

.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
    padding-bottom: 3rem;
}

.hole{
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}

.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

/* … */


















