*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}





/* || Header 
  --------------------------------------------- */

header{
    background: #272635;
    color: rgb(255, 255, 255);
    height: 120px;
    display: flex;
}

.head{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.engels{
    float: right;
    margin: 5px;
    height: 20px;
    width: 25px;
}

.nederlands{
    float: right;
    margin: 5px;
    height: 20px;
    width: 25px;
}

.logo{
    float: left;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.taal{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li > a{
    color: white;
    text-decoration:none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

.headerlist{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

li:hover{
    cursor: pointer;
    
}

/* … */




#bodyIndex{
    font-size: 20px;
    font-family: sans-serif;
    background: #3E3D49;

}

#index{
    height: auto;
    width: 100%;
    background: #454452;
    padding: 3rem;
}






/* Sectie 1 
  --------------------------------------------- */

#section1{
    width: 100%;
    height: auto;
    display: flex;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
}

#img2{
    height: auto;
    width: 100%;
}

.image1{
    height: 343px;
    width: auto;
}

h1{
    font-size: 250%;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.informatie{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 33px;
}

.informatieKjell{
    position: absolute;
    font-size: 24px;
    top: 50%;
    right: 58%;
}

/* … */







/* sectie 2 
  --------------------------------------------- */

#section2{
    width: 100%;
    height: auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.colom{
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    padding: 2rem;
}



.image2{
    width: 100%;
    height: 100%;
}

h2{
    font-size: 200%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.info{
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 40px;
    font-size: 24px;
}

/* … */





/* contact */
#bodycontact{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    
    background: #3E3D49;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact{
    height: auto;
    width: 100%;
    height: 1500px;
    padding: 3rem;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://i.pinimg.com/564x/9b/bc/90/9bbc902053250e7a86d17902ba65ab4e.jpg);
    
}

.contact1{
    width: 600px;
    height: 1400px;
    background: rgba(255, 255, 255, 0.8);

}

.contactH2{
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    font-size: 50px;

}

.footerContact{
   
        background-color: #24262b;
        padding: 70px 0;
        margin-top: 50px;
        
}
/* … */









/* reviews */
.index{
    height: 2000px;
    width: 100%;
    background: #454452;
    padding: 3rem;
}

.review1{
    width: 900px;
    height: 500px;
    background: #24262b;
}

.line1{
    width: 2px;
    height: 70%;
    background: green;
    position: absolute;
    left: 29.5%;
    
}
.review2{
    width: 900px;
    height: 500px;
    background: #24262b;
    position: absolute;
    left: 30%;
    margin-top: 50px;
}
.line2{
    width: 2px;
    height: 100%;
    background: green;
    position: absolute;
    left: 40%;
    
}


/* … */


/* tickets */
#bodytickets{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://nl.letsgodigital.org/uploads/2018/06/nationaal-videogame-museum-1024x676.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#tickets{
    height: auto;
    width: 100%;
}
    
#tsection{
    margin-top: 3rem;
    width: 30vw;
    height: 120vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(233, 233, 233, 0.699), rgba(233, 233, 233, 0.699) );
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 20vw;
    }
/* … */







/* Geschiedenis */
#bodygeschiedenis{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://i.pinimg.com/564x/9b/bc/90/9bbc902053250e7a86d17902ba65ab4e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#geschiedenis{
    height: auto;
    width: 100%;
}

#GSectionleft{
    margin-top: 3rem;
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(233, 233, 233, 0.699), rgba(233, 233, 233, 0.699) );
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 10vw;
}

#GSectionright{
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(233, 233, 233, 0.699), rgba(233, 233, 233, 0.699) );
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 60vw;
}


#GSection5{
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(233, 233, 233, 0.699), rgba(233, 233, 233, 0.699) );
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 10vw;
    margin-bottom: 3rem;
}

.geschiedenisinfo{
    width: 100%;
}

.tekstgeschiedenis{
    margin-top: 10px;
    display: flex;
    font-size: 10px;
}

h3{
    font-size: 1vw;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
    width: 100%;
    
}




/* … */




/* footer */




body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}


.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* … */











/* grote 
  --------------------------------------------- */

@media screen and (max-width:1920px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:1000px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:600px) {
    body{
        font-size: 16px;
    } 
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }

}

/* … */










/* Game 
  --------------------------------------------- */

    .game{
        width: 100%;
        margin-top: 50px;
        overflow: hidden;
    }

/* … */


















