*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}





/* || Header 
  --------------------------------------------- */

header{
    background: #272635;
    color: rgb(255, 255, 255);
    height: 120px;
    display: flex;
}

.engels{
    float: right;
    margin: 5px;
    height: 20px;
    width: 25px;
}

.nederlands{
    float: right;
    margin: 5px;
    height: 20px;
    width: 25px;
}

.logo{
    float: left;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.taal{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li > a{
    color: white;
    text-decoration:none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

li:hover{
    cursor: pointer;
    
}

/* … */




#bodyIndex{
    font-size: 20px;
    font-family: sans-serif;
    background: #3E3D49;
}

#index{
    height: auto;
    width: 100%;
    background: #454452;
    padding: 3rem;
}






/* Sectie 1 
  --------------------------------------------- */

#section1{
    width: 100%;
    height: 407px;
    display: flex;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
}

#img2{
    height: auto;
    width: 100%;
}

.image1{
    height: 100%;
    width: auto;
}

h1{
    font-size: 250%;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.informatie{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 33px;
}

/* … */







/* sectie 2 
  --------------------------------------------- */

#section2{
    width: 100%;
    height: auto;
    display: flex;
}

.colom1{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    margin-right: 1rem;
    padding: 1rem;
}

.colom2{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.colom3{
    width: 100%;
    height: auto;
    flex-direction: column;
    background: #D1D3E0;
    margin-left: 1rem;
    padding: 1rem;
}


.image2{
    width: 100%;
    height: 100%;
}

h2{
    font-size: 200%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.info{
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 40px;
    font-size: 24px;
}

/* … */





/* contact */
#bodycontact{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background: #3E3D49;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact{
    height: auto;
    width: 100%;
    padding: 3rem;
}
/* … */


<<<<<<< HEAD


/* footer */

footer{
    background: #272635;
    height: 360px;
    display:flex;
    text-align: center;
    
}

.zakelijkFooter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-right: 200px;
}

.persFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    margin-right: 100px;
}
.infoFooter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: antiquewhite;
    margin-left: 150px;
    
}

p{
    display: flex;
    justify-content: center;
    
}



/* … */





=======
>>>>>>> c166a68dedd08c319a4a8ec26d3d20a630007ba2
/* reviews */
#bodyreviews{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background: #3E3D49;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#reviews{
    height: auto;
    width: 100%;
    padding: 3rem;
}
/* … */


/* tickets */
#bodytickets{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background: #3E3D49;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tickets{
    height: auto;
    width: 100%;
    padding: 3rem;
}
/* … */







/* Geschiedenis */
#bodygeschiedenis{
    font-size: 20px;
    font-family: sans-serif;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://i.pinimg.com/564x/9b/bc/90/9bbc902053250e7a86d17902ba65ab4e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#geschiedenis{
    height: auto;
    width: 100%;
}

#GSectionleft{
    margin-top: 3rem;
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 10vw;
}

#GSectionright{
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 60vw;
}


#GSection5{
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background: #D1D3E0;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-left: 10vw;
    margin-bottom: 3rem;
}

.geschiedenisinfo{
    width: 100%;
}

.tekstgeschiedenis{
    margin-top: 10px;
    display: flex;
    font-size: 10px;
}

h3{
    font-size: 1vw;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
    width: 100%;
    
}




/* … */




/* footer */

footer{
    background: #272635;
    color: rgb(255, 255, 255);
    height: 500px;
    display:flex;
    align-items: center;
}

/* … */











/* grote 
  --------------------------------------------- */

@media screen and (max-width:1920px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:1000px) {
    footer > p{
        width: 80vw;
    }
    section1{
        display: block;
    }
    img:hover{
        transform: none;
    }
    section4{
        margin: 0px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width:600px) {
    body{
        font-size: 16px;
    } 
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }

}

/* … */










/* Game 
  --------------------------------------------- */

    .game{
        width: 100%;
        margin-top: 50px;
        overflow: hidden;
    }

/* … */


















